body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    margin-left: -10%;
    align-items: center;
    background-color: rgb(100,151,177);
    font-family: 'Poppins', sans-serif;
}

#app {
    width: 80%;
    max-width: 600px;
    text-align: center;
}

.personagem {
    background-color: rgb(234, 215, 188);
    border: 2px solid rgb(236, 207, 163);
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
    width: 200px;
}

.acoes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
}

button {
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: rgb(0,91,150);
    color: whitesmoke;
    cursor: pointer;
    transition: background-color 0,5s, transform 0.2s;
}

button:hover {
    background-color: rgb(13, 123, 186);
    transform: translateY(-3px);
}

button:active {
    transform: translateY(0px);
}

.barra-vida {
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 5px;
    margin-bottom: 16px;
}

.verde {
    background-color: rgb(40, 201, 28);
}

.amarela {
    background-color: rgb(227, 227, 25);
}

.vermelha {
    background-color: rgb(249, 7, 7);
}

.sprite {
    height: 140px;
    background-color: #ddd;
    background-size: cover;
}

.log {
    width: 20%;
    max-height: 40%; 
    overflow-y: auto; 
    padding: 20px; 
    background-color: rgb(234, 215, 188);
    border-radius: 5px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    position: fixed; 
    top: 20%; 
    right: 25%; 
}

.log ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column-reverse;
}

.log li {
    background-color: rgb(0,91,150);; 
    margin: 8px 0; 
    padding: 16px; 
    border-radius: 5px; 
    color: whitesmoke;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s ease; 
}

.log li:hover {
    background-color: rgb(13, 123, 186);
}

.creditos {
    position: fixed;
    bottom: 0;
    left: 1%;
    padding: 10px;
    color: white;
    font-size: 15px;
}

